TOPIC <br> <br> <br>

{{ topic.title }} <br> <br>

{% if topic.subtitle %}
    {{ topic.subtitle }} <br> <br>
{% endif %}

{% if topic.description %}
    {{ topic.description }} <br> <br>
{% endif %}

{% if topic.link %}
    {{ topic.link }} <br> <br>
{% endif %} <br>

Created -- {{ topic.date_created }} <br> <br>
Updated -- {{ topic.date_updated }} <br> <br>
Watched -- {{ topic.date_watched }} <br> <br> <br>

<a href="{% url 'edit_topic' id=topic.id %}">
    <input type="button" value="EDIT">
</a> <br> <br>

Are you sure?
<a href="{% url 'delete_topic' id=topic.id %}">
    <input type="button" value="YES">
</a>

<a href="{% url 'topic_info' id=topic.id %}">
    <input type="button" value="NO">
</a> <br> <br> <br>

<a href="{% url 'index' %}">
    <input type="button" value="HOME">
</a>