LIST <br> <br> <br>

<form method="GET">
    {% if search %}
        <input type="text" name="search" value="{{ search }}" placeholder="SEARCH">
    {% else %}
        <input type="text" name="search" value="{{ request.GET.search_text }}" placeholder="SEARCH">
    {% endif %}

    <input type="submit" value="GO"> &nbsp

    {% if empty_search %}
        NO TOPICS FOUND!
    {% endif %}
</form> <br>

SORT: &nbsp

{% if search %}
    <a href="?search={{ search }}&sort=title">
{% else %}
    <a href="?sort=title">
{% endif %}
    <input type="button" value="TITLE">
</a>

{% if search %}
    <a href="?search={{ search }}&sort=-title">
{% else %}
    <a href="?sort=-title">
{% endif %}
    <input type="button" value="-TITLE">
</a>

{% if search %}
    <a href="?search={{ search }}&sort=date_created">
{% else %}
    <a href="?sort=date_created">
{% endif %}
    <input type="button" value="DATE">
</a>

{% if search %}
    <a href="?search={{ search }}&sort=-date_created">
{% else %}
    <a href="?sort=-date_created">
{% endif %}
    <input type="button" value="-DATE">
</a> <br> <br> <br>

{% if action %}
    <a href="?action=">
        <input type="button" value="CANCEL EDITING"> <br> <br>
    </a>
{% else %}
    <a href="?action=edit">
        <input type="button" value="EDIT LIST"> <br> <br>
    </a>
{% endif %}


{% if is_paginated %}
    {% for page in paginator.page_range %}
        {% if search %}
            <a href="{{ request.path }}?page={{ page }}&search={{ search }}&sort={{ sort_order }}">
        {% else %}
            <a href="{{ request.path }}?page={{ page }}&sort={{ sort_order }}">
        {% endif %}
            <input type="button" value="{{ page }}">
        </a>
    {% endfor %}

    {% if page_obj.has_previous %}
        {% if search %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&search={{ search }}&sort={{ sort_order }}">
        {% else %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&&sort={{ sort_order }}">
        {% endif %}
            <input type="button" value="PREVIOUS">
        </a>

        {% if not page_obj.has_next %}
            <br> <br> <br>
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
        {% if search %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&search={{ search }}&sort={{ sort_order }}">
        {% else %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&sort={{ sort_order }}">
        {% endif %}
            <input type="button" value="NEXT"> <br> <br> <br>
        </a>
    {% endif %}
{% endif %}

{% for topic in topics %}
    {% if action %}
        <input type="checkbox">
    {% endif %}

    {% if topic.is_watched %}
        ●
    {% endif %}

    <a href="{{ topic.get_absolute_url }}">
        <input type="button" value="{{ topic }}">
    </a> <br> <br>
{% endfor %} <br> <br>

<a href="{% url 'add_topic' %}">
    <input type="button" value="ADD TOPIC">
</a> <br> <br>

<a href="{% url 'index' %}">
    <input type="button" value="HOME">
</a>