LIST <br> <br> <br>

{% if is_paginated %}
    {% for page in paginator.page_range %}
        <a href="{% url 'user_list' %}?page={{ page }}">
            <input type="button" value="{{ page }}">
        </a>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a href="{% url 'user_list' %}?page={{ page_obj.previous_page_number }}">
            <input type="button" value="PREVIOUS">
        </a>

        {% if not page_obj.has_next %}
            <br> <br> <br>
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
        <a href="{% url 'user_list' %}?page={{ page_obj.next_page_number }}">
            <input type="button" value="NEXT"> <br> <br> <br>
        </a>
    {% endif %}
{% endif %}

{% for topic in topics %}
    {% if topic.is_watched %}
        ●
    {% endif %}

    <a href="{{ topic.get_absolute_url }}">
        <input type="button" value="{{ topic }}">
    </a> <br> <br>
{% endfor %} <br> <br>

<a href="{% url 'add_topic' %}">
    <input type="button" value="ADD TOPIC">
</a> <br> <br>

<a href="{% url 'index' %}">
    <input type="button" value="HOME">
</a>